
function ProceedYes ()
{
	# Pull SYNCDIR Stretch
	PullMachine "stretch.roguedesigns.us"
	wait

	# Pull SYNCDIR Stiles
	PullMachine "stiles.roguedesigns.us"
	wait

	# Pull SYNCDIR Pi64
	PullMachine "pi64.roguedesigns.us"
	wait
}	# end function

function PullMachine ()
{
	local MACHINENAME="$1"
	ssh brettsalemink@"$MACHINENAME" "$HOME/bin/Pull-Bin-Sh.sh"
	wait
	echo "Finished Syncing $MACHINENAME"
}	# end PullMachine

function Main ()
{
	ProceedYes
}	# end function Main
Main

#== EXIT ==
exit 0
